<!DOCTYPE html>
<html lang="en">
<%- include('../layouts/head.ejs')%>
<body>
    <%- include('../layouts/header.ejs') %>
    <div class="container">
        <p class="h3 mb-4 text-center text-secondary">News Updates</p>
    </div>
    <%- include('../layouts/bottom.ejs') %>
</body>
</html>